html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#mainCanvas {
    border: 1px solid black;
    margin: auto;
}

#wrapper {
    margin: auto;
    text-align: center;
    width: 100%;
}
#guide{
    text-align: center;
    background: black;
    color: #fff;
    padding: 0;
    margin: 0;
    border: none;
    display: none;
}
#qrcode{
    position: absolute;
    background: #fff;
    padding: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#qrcode img {
    width: 160px;
    height: 160px;
}
#controller{
    width: 100%;
    height:100%;
    background: #333945;
    position: relative;

}
#controller h1{
    text-align: center;
    color: #fff;
    margin: 0;
}
#press-me{
    width: 250px;
    height:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 200px;
    background: transparent;
}
.gif{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#press-me .active{
    background: yellow;
}